<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>${maven-credentials.JIRA_USERNAME}</username>
            <password>${maven-credentials.JIRA_PASSWORD}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.passphrase>${maven-credentials.GPG_PASSPHRASE}</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>
