name: Maven Central Release

on:
  release:
    types: [created]
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      releaseversion:
        description: 'Release version'
        required: true
        default: 'SNAPSHOT'    

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Import GPG key
      id: import_gpg
      uses: crazy-max/ghaction-import-gpg@v5
      with:
        gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
        passphrase: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
        
    - name: Build with Maven
      run: mvn -B package --file pom.xml        

    - name: Set up Apache Maven Central
      uses: actions/setup-java@v3.6.0
      with: # running setup-java again overwrites the settings.xml
        distribution: 'temurin'
        java-version: '11'
        check-latest: true
        overwrite-settings: false
        server-id: ossrh # Value of the distributionManagement/repository/id field of the pom.xml
        server-username: MAVEN_USERNAME # env variable for username in deploy
        server-password: MAVEN_CENTRAL_TOKEN # env variable for token in deploy
        gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }} # Value of the GPG private key to import
        gpg-passphrase: MAVEN_GPG_PASSPHRASE # env variable for GPG private key passphrase

    - name: Publish to Apache Maven Central
      run: mvn -DskipTests deploy -Dgpg.passphrase=${{ secrets.MAVEN_GPG_PASSPHRASE }} -Dsettings.security=/home/runner/.m2/settings.xml
